/*img#img_frame {
position: relative;
left: 241px;
bottom: 3373px;
}*/


#frame_div {
position: relative;
left: -39px;
bottom: -4px;
}

#hot_products_div {
position: absolute;
left: 241px;
top: 628px;
}

/*.product-list-frame {
width: 1008px;
height: 255px;
position: absolute;
left: -45px;
top: -12px;
}*/